<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- head 中 -->
    <link rel="stylesheet" href="css/weui.min.css">
    <link rel="stylesheet" href="css/jquery-weui.min.css">


    <title>H5 网页示例</title>
</head>
<body style="padding: 20px">
<div class="alert alert-primary" role="alert">
    我是说明
</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>标题文字</p>
        </div>
        <div class="weui-cell__ft">说明文字</div>
    </div>
</div>
<!-- body 最后 -->
<script src="htmljs/jquery.min.js"></script>
<script src="htmljs/jquery-weui.min.js"></script>

<!-- 如果使用了某些拓展插件还需要额外的JS -->
<script src="htmljs/swiper.min.js"></script>
<script src="htmljs/city-picker.min.js"></script>
</body>


</html>